<%= render :partial => "statuses/current_status", :object => @statuses.first %>

<div class="row">
  <div class="span12" align="center">
		<p><i>Page refreshes automatically every 30 seconds, or you can manually:</i></p>
		<%= link_to "Reload Page", root_url, :class => "btn btn-success" %>
    <center><h3>Last 10 Status Updates</h3></center>
  </div>
</div>

<div class="row">
  <div class="span12" align="center">
	<% @statuses[1..10].each do |app_status| %>
	  <%= render app_status %>
	<% end %>
  </div>
</div>