<div class="row">
	<div class="span2">&nbsp;</div>
  <div class="span8" align="center">
    <div class="well">
      <b><%= h app_status.status %></b> On <%= app_status.pretty_timestamp %><br/>
      <i><%= h app_status.status_message %></i>
    </div>
  </div>
  <div class="span2">&nbsp;</div>
</div>